<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD App</title>
</head>
<body>
    <center>
        <table border="2px">
            <tr>
                <th>S_id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Course</th>
                <th>Delete</th>
                <th>Update</th>
            </tr>

            {% for student in students %}
            <tr>
                <td>{{ student.S_id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.course }}</td>
                <td><a href="{% url 'delete' student.S_id %}">Delete</a></td>
                <td><a href="{% url 'update' student.S_id %}">Update</a></td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>